.w3-theme-bl5 {color:#000 !important; background-color:#f2f9fe !important}
.w3-theme-bl4 {color:#000 !important; background-color:#d2eafd !important}
.w3-theme-bl3 {color:#000 !important; background-color:#a6d4fa !important}
.w3-theme-bl2 {color:#000 !important; background-color:#79bff8 !important}
.w3-theme-bl1 {color:#fff !important; background-color:#4daaf6 !important}
.w3-theme-bd1 {color:#fff !important; background-color:#0c87eb !important}
.w3-theme-bd2 {color:#fff !important; background-color:#0b78d1 !important}
.w3-theme-bd3 {color:#fff !important; background-color:#0a69b7 !important}
.w3-theme-bd4 {color:#fff !important; background-color:#085a9d !important}
.w3-theme-bd5 {color:#fff !important; background-color:#074b83 !important}

.w3-theme-blight {color:#000 !important; background-color:#f2f9fe !important}
.w3-theme-bdark {color:#fff !important; background-color:#074b83 !important}
.w3-theme-baction {color:#fff !important; background-color:#074b83 !important}

.w3-btheme {color:#fff !important; background-color:#2196f3 !important}
.w3-text-btheme {color:#2196f3 !important}
.w3-border-btheme {border-color:#2196f3 !important}

.w3-hover-btheme:hover {color:#fff !important; background-color:#2196f3 !important}
.w3-hover-text-btheme:hover {color:#2196f3 !important}
.w3-hover-border-btheme:hover {border-color:#2196f3 !important}