.w3-theme-rl5 {color:#000 !important; background-color:#fef4f3 !important}
.w3-theme-rl4 {color:#000 !important; background-color:#fdd9d6 !important}
.w3-theme-rl3 {color:#000 !important; background-color:#fbb3ae !important}
.w3-theme-rl2 {color:#000 !important; background-color:#f98d85 !important}
.w3-theme-rl1 {color:#fff !important; background-color:#f6665c !important}
.w3-theme-rd1 {color:#fff !important; background-color:#f32617 !important}
.w3-theme-rd2 {color:#fff !important; background-color:#e11a0c !important}
.w3-theme-rd3 {color:#fff !important; background-color:#c5170a !important}
.w3-theme-rd4 {color:#fff !important; background-color:#a91409 !important}
.w3-theme-rd5 {color:#fff !important; background-color:#8d1007 !important}

.w3-theme-rlight {color:#000 !important; background-color:#fef4f3 !important}
.w3-theme-rdark {color:#fff !important; background-color:#8d1007 !important}
.w3-theme-raction {color:#fff !important; background-color:#8d1007 !important}

.w3-rtheme {color:#fff !important; background-color:#f44336 !important}
.w3-text-rtheme {color:#f44336 !important}
.w3-border-rtheme {border-color:#f44336 !important}

.w3-hover-rtheme:hover {color:#fff !important; background-color:#f44336 !important}
.w3-hover-text-rtheme:hover {color:#f44336 !important}
.w3-hover-border-rtheme:hover {border-color:#f44336 !important}