.w3-theme-yl5 {color:#000 !important; background-color:#fffef3 !important}
.w3-theme-yl4 {color:#000 !important; background-color:#fffbd8 !important}
.w3-theme-yl3 {color:#000 !important; background-color:#fff7b1 !important}
.w3-theme-yl2 {color:#000 !important; background-color:#fff38b !important}
.w3-theme-yl1 {color:#000 !important; background-color:#ffef64 !important}
.w3-theme-yd1 {color:#000 !important; background-color:#ffe81e !important}
.w3-theme-yd2 {color:#000 !important; background-color:#fde400 !important}
.w3-theme-yd3 {color:#000 !important; background-color:#ddc700 !important}
.w3-theme-yd4 {color:#fff !important; background-color:#beab00 !important}
.w3-theme-yd5 {color:#fff !important; background-color:#9e8e00 !important}

.w3-theme-ylight {color:#000 !important; background-color:#fffef3 !important}
.w3-theme-ydark {color:#fff !important; background-color:#9e8e00 !important}
.w3-theme-yaction {color:#fff !important; background-color:#9e8e00 !important}

.w3-ytheme {color:#000 !important; background-color:#ffeb3b !important}
.w3-text-ytheme {color:#ffeb3b !important}
.w3-border-ytheme {border-color:#ffeb3b !important}

.w3-hover-ytheme:hover {color:#000 !important; background-color:#ffeb3b !important}
.w3-hover-text-ytheme:hover {color:#ffeb3b !important}
.w3-hover-border-ytheme:hover {border-color:#ffeb3b !important}